.no-border {
  border-collapse: collapse;
}

.square-light {
  background: #fafafa;
  width: 66px;
  height: 66px;
}

.square-dark {
  background-color: #5d432c;
  min-width: 65px;
  min-height: 65px;
}

img.piece {
  margin: auto;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
}

.white {
  border-radius: 50%;
  background-color: #d78637;
}

.black {
  border-radius: 1.5px;
}

th {
  color: white;
}
