.no-border {
  border-collapse: collapse;
}

.square-light {
  background-color: #ffce9e;
  width: 66px;
  height: 66px;
}

.square-dark {
  background-color: #d18b47;
  min-width: 65px;
  min-height: 65px;
}

img.piece {
  margin: auto;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
}
